---
import FeatureCard from "./FeatureCard.astro";
import { FEATURES } from "~/content/features";
---

<div
  class="grid grid-cols-1 md:grid-cols-12 gap-4 md:gap-5 auto-rows-[minmax(220px,auto)]"
>
  {
    FEATURES.map((f, i) => (
      <FeatureCard
        title={f.title}
        blurb={f.blurb}
        image={f.image}
        imageAlt={f.imageAlt}
        badge={f.badge}
        badgeTone={f.badgeTone}
        span={f.span}
        revealIndex={i % 3}
      />
    ))
  }
</div>
